{% load staticfiles %}
<div class="row content-order-button payment" style="display: none">
         <div class="form-group-button content-container content-padding">
             <label class="order-button-label">Способы оплаты</label>
                <div id="payment-button" class="form-button-control">
                        <span class="order-button active-order-button">Наличные</span>
                        <span class="order-button">Visa/MasterCard</span>
                        <span class="order-button">Сбербанк.Онлайн</span>
                        <span class="order-button">На расчетный счет</span>
                </div>
         </div>
     </div>